{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ name }}!</h1>

{# cette variable est de type string donc on peut l'afficher directement#}
   <p>Ecrit par auteur : {{ auteur }}</p>
{# Article est un objet issu de la class std donc accéder à sa props #}

    <h2>{{ article.title }}</h2>
    <p>{{ article.intro }}</p>
    <p>{{ article.content }}</p>
{# User pareil objet donc objet.proprieteNom #}
    <h3>{{ user.name }}</h3>
    <p>{{ user.age }}</p>
    {# Ici de type string donc tout simplement le nom de la variable donné dans a vue #}
    <p>{{ jeanDaniel }}</p>
    <p>{{jd3000}}</p>


{% if article.title %}
<p>L'article possède un titre</p>
{% endif %}

{% if article.title == "Théorie du complot" %}
<p>L'article parle d'un complot</p>
{% endif %}
    {% if true %}
    <p>Je suis là</p>
    <img width="350px" src="{{image}}" alt="jd3000">
    {% else %}
        <p>Je ne suis pas là</p>
    {% endif %}

</div>
{% endblock %}
